.dropdown {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
}
.dropdown.error {
  border-color: #d22c75;
  box-shadow: 0 0 6px 0#d22c75;
}

.dropdown__title,
.dropdown__item {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  font-size: 16px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dropdown__title {
  background: inherit;
  border-radius: inherit;
  padding-right: 30px;
  border: 1px solid #d3d3d3;
}

.dropdown__item {
  border-top: 1px solid #d3d3d3;
}

.dropdown.open > .dropdown__title {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown__title:disabled {
  background: unset;
  opacity: 0.5;
}

.dropdown__title:before {
  content: "";
  position: absolute;
  right: 15px;
  top: calc(50% - 2.5px);
  display: block;
  border: 5px solid transparent;
  border-top: 5px solid #424242;
}

.dropdown.open > .dropdown__title:before {
  top: unset;
  bottom: calc(50% - 2.5px);
  border: 5px solid transparent;
  border-bottom: 5px solid #424242;
}

.dropdown__content-wrap {
  position: absolute;
  width: 100%;
  max-height: 140px;
  border-radius: inherit;
  background: inherit;
}

.dropdown__scrollbar {
  max-height: inherit;
  background: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  border: 1px solid #d3d3d3;
  border-top: unset;
  z-index: 1;
}

.dropdown__scrollbar > .scrollbar__track.horizontal {
  visibility: hidden;
}

.dropdown__item:hover {
  background: #eceff1;
}
