.radio {
  width: 20px;
  height: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 100%;
  flex-shrink: 0;
  padding: 4px;
}

.radio.selected {
  background-color: #424242;
  background-clip: content-box;
}
