.cluster-loader {
  position: relative;
  height: 32px;
  width: 32px;
  animation: cluster-loader-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes cluster-loader-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cluster-loader::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #424242;
  border-radius: 50%;
  animation: cluster-loader-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes cluster-loader-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.cluster-loader::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #424242;
  border-radius: 50%;
  animation: cluster-loader-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes cluster-loader-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(-24px, 0, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.cluster-loader span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: inherit;
  width: inherit;
}
.cluster-loader span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #424242;
  border-radius: 50%;
  animation: cluster-loader-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes cluster-loader-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, 24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
.cluster-loader span::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #424242;
  border-radius: 50%;
  animation: cluster-loader-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@keyframes cluster-loader-5 {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  50% {
    transform: translate3d(0, -24px, 0) scale(0.5);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
