.combo-box-selected-item {
  position: relative;
  padding-right: 50px !important;
}

.combo-box-selected-item.disabled {
  opacity: 0.5;
}

.combo-box-selected-item__value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.combo-box-selected-item__deselect-button {
  width: 40px;
  height: 100%;
  line-height: 100%;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  background: #e7e7e7;
  border-left: 1px solid #d3d3d3;
  border-radius: inherit;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
}

.combo-box-selected-item__deselect-button:disabled {
  opacity: unset;
}
