.textarea-with-scrollbar {
  padding: 7px 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.textarea-with-scrollbar:focus-within {
  border: 1px solid #b0bec5;
  box-shadow: 0 0 6px 0 #b0bec5;
}

.textarea-with-scrollbar__scrollbar.scrollbar > .scrollbar__track.horizontal {
  height: 7px;
  border: none;
}

.textarea-with-scrollbar__scrollbar.scrollbar > .scrollbar__track.vertical {
  width: 7px;
  border: none;
}

.textarea-with-scrollbar__textarea {
  margin-right: 9px;
  width: calc(100% - 9px);
  padding: unset;
  border: unset;
}

.textarea-with-scrollbar__textarea:focus {
  box-shadow: none;
  border: unset;
}